# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Repos\Python_Qt_Pyside\Modern_GUI_PyDracula_PySide6_or_PyQt6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
